.bin/
.lvenv/
.venv/
.vscode/
.opencode/node_modules/
.claude/
*.crt
*.pem
**__pycache__**
apps/platform/tailscale.yaml
npu-device-plugin/bin/
npu-device-plugin/pkg/
.cursor/
files/
AGENTS.md
CLAUDE.md
