# https://github.com/flyteorg/flyte/tree/master/charts/flyte-binary
configuration:
  database:
    dbname: flyte
    host: postgres.flyte
    password: postgres
    username: postgres
  inline:
    flyteadmin:
      profilePort: 10254
    plugins:
      k8s:
        default-env-vars:
          - FLYTE_AWS_ENDPOINT: "http://192.168.1.41:30084"
          - FLYTE_AWS_ACCESS_KEY_ID: "minio"
          - FLYTE_AWS_SECRET_ACCESS_KEY: "miniostorage"
        inject-finalizer: true
    propeller:
      metrics-prefix: "flyte:"
      prof-port: 10254
    scheduler:
      metricsScope: "flyte:"
      profiler-port: 10254
    storage:
      cache:
        max_size_mbs: 100
        target_gc_percent: 100
    task_resources:
      defaults:
        cpu: 4000m
        memory: 2000Mi
      limits:
        cpu: 8000m
        memory: 8000Mi
    tasks:
      task-plugins:
        default-for-task-types:
          - container: container
          - container_array: k8s-array
          - pytorch: pytorch
        enabled-plugins:
          - container
          - sidecar
          - k8s-array
          - pytorch
  logging:
    level: 5
    plugins:
      custom:
        - displayName: Grafana
          templateUris:
            - |
              http://grafana.k3s/explore?schemaVersion=1&panes=%7B%22kxw%22%3A%7B%22datasource%22%3A%22de9sm3bb47ta8f%22%2C%22queries%22%3A%5B%7B%22refId%22%3A%22A%22%2C%22expr%22%3A%22%7Bpod%3D%5C%22{{ .podName }}%5C%22%7D+%7C%3D+%60%60%22%2C%22queryType%22%3A%22range%22%2C%22datasource%22%3A%7B%22type%22%3A%22loki%22%2C%22uid%22%3A%22de9sm3bb47ta8f%22%7D%2C%22editorMode%22%3A%22builder%22%7D%5D%2C%22range%22%3A%7B%22from%22%3A%22now-1h%22%2C%22to%22%3A%22now%22%7D%7D%7D&orgId=1
  storage:
    metadataContainer: flyte
    provider: s3
    providerConfig:
      s3:
        accessKey: "minio"
        authType: "accesskey"
        disableSSL: "true"
        endpoint: "http://192.168.1.41:30084"
        region: "us-east-1" #Irrelevant for local but still needed
        secretKey: "miniostorage"
        secure: "false"
    type: minio
    userDataContainer: flyte
deployment:
  extraPodSpec:
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
ingress:
  commonAnnotations:
    kubernetes.io/ingress.class: public
  create: true
  grpcAnnotations:
    nginx.ingress.kubernetes.io/backend-protocol: GRPC
  host: "{{ .Values.userSettings.hostName }}"
  httpAnnotations:
    gethomepage.dev/app: flyte-binary
    gethomepage.dev/description: Flyte ML Orchestration
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: AI
    gethomepage.dev/name: Flyte
    nginx.ingress.kubernetes.io/app-root: /console
  ingressClassName: nginx
  separateGrpcIngress: true
  tls:
    - hosts:
        - "{{ .Values.userSettings.hostName }}"
      secretName: flytetls
rbac:
  extraRules:
    - apiGroups:
        - kubeflow.org
      resources:
        - pytorchjobs
      verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch
service:
  extraPorts:
    - name: http-metrics
      port: 10254
      protocol: TCP
userSettings:
  hostName: flyte.k3s
