# https://github.com/flyteorg/flyte/tree/master/charts/flyte-binary
configuration:
  auth:
    authorizedUris:
      - https://flyte.tail79a5c8.ts.net
      - https://keycloak.tail79a5c8.ts.net
    enabled: true
    internal:
      clientSecret: "zwp!MJA5brh6gwb7mrb"
      clientSecretHash: "JDJiJDA2JDIvTHpYSFkyTy9aa25HdzB1UHVkbGU5NzVBLjMzR3VpTkxVZkh5R2dXVldjNE9xUXh3VW5T"
    oidc:
      baseUrl: "https://keycloak.tail79a5c8.ts.net/realms/master"
      clientId: k3s-flyte
      clientSecret: "eUc1Xn3SBuUYcbo034S6kmqsxyxwfDni"
  database:
    dbname: flyte
    host: postgres.flyte
    password: postgres
    username: postgres
  inline:
    auth:
      appAuth:
        authServerType: External
        externalAuthServer:
          baseUrl: "https://keycloak.tail79a5c8.ts.net/realms/master"
          metadataUrl: .well-known/openid-configuration
        thirdPartyConfig:
          flyteClient:
            clientId: k3s-flyte
            redirectUri: "https://flyte.tail79a5c8.ts.net/callback"
            scopes:
              - offline
              - all
      userAuth:
        openId:
          baseUrl: "https://keycloak.tail79a5c8.ts.net/realms/master"
          clientId: k3s-flyte
          scopes:
            - profile
            - openid
    flyteadmin:
      profilePort: 10254
    plugins:
      k8s:
        default-env-vars:
          - FLYTE_AWS_ENDPOINT: "http://192.168.1.41:30084"
          - FLYTE_AWS_ACCESS_KEY_ID: "minio"
          - FLYTE_AWS_SECRET_ACCESS_KEY: "miniostorage"
        inject-finalizer: true
    propeller:
      metrics-prefix: "flyte:"
      prof-port: 10254
    scheduler:
      metricsScope: "flyte:"
      profiler-port: 10254
    storage:
      cache:
        max_size_mbs: 100
        target_gc_percent: 100
    task_resources:
      defaults:
        cpu: 4000m
        memory: 2000Mi
      limits:
        cpu: 8000m
        memory: 8000Mi
    tasks:
      task-plugins:
        default-for-task-types:
          - container: container
          - container_array: k8s-array
          - pytorch: pytorch
        enabled-plugins:
          - container
          - sidecar
          - k8s-array
          - pytorch
  logging:
    level: 5
    plugins:
      custom:
        - displayName: Grafana
          templateUris:
            - |
              http://grafana.tail79a5c8.ts.net/explore?schemaVersion=1&panes=%7B%22kxw%22%3A%7B%22datasource%22%3A%22de9sm3bb47ta8f%22%2C%22queries%22%3A%5B%7B%22refId%22%3A%22A%22%2C%22expr%22%3A%22%7Bpod%3D%5C%22{{ .podName }}%5C%22%7D+%7C%3D+%60%60%22%2C%22queryType%22%3A%22range%22%2C%22datasource%22%3A%7B%22type%22%3A%22loki%22%2C%22uid%22%3A%22de9sm3bb47ta8f%22%7D%2C%22editorMode%22%3A%22builder%22%7D%5D%2C%22range%22%3A%7B%22from%22%3A%22now-1h%22%2C%22to%22%3A%22now%22%7D%7D%7D&orgId=1
  storage:
    metadataContainer: flyte
    provider: s3
    providerConfig:
      s3:
        accessKey: "minio"
        authType: "accesskey"
        disableSSL: "true"
        endpoint: "http://192.168.1.41:30084"
        region: "us-east-1" #Irrelevant for local but still needed
        secretKey: "miniostorage"
        secure: "false"
    type: minio
    userDataContainer: flyte
deployment:
  extraEnvVars:
    - name: SSL_CERT_FILE
      value: /etc/ssl/certs/k3s/k3s-ca.crt
  extraPodSpec:
    nodeSelector:
      node-role.kubernetes.io/control-plane: "true"
  extraVolumeMounts:
    - mountPath: /etc/ssl/certs/k3s
      name: ca-cert
  extraVolumes:
    - name: ca-cert
      secret:
        secretName: k3s-ca-secret
ingress:
  commonAnnotations:
    kubernetes.io/ingress.class: tailscale
  create: true
  host: flyte
  ingressClassName: tailscale
  labels:
    tailscale.com/proxy-class: control-plane
  separateGrpcIngress: false
  tls:
    - hosts:
        - flyte
rbac:
  extraRules:
    - apiGroups:
        - kubeflow.org
      resources:
        - pytorchjobs
      verbs:
        - create
        - delete
        - get
        - list
        - patch
        - update
        - watch
service:
  extraPorts:
    - name: http-metrics
      port: 10254
      protocol: TCP
userSettings:
  hostName: flyte.tail79a5c8.ts.net
