# https://github.com/bitnami/charts/tree/main/bitnami/keycloak
nodeSelector:
  node-role.kubernetes.io/control-plane: "true"
service:
  type: LoadBalancer
ingress:
  enabled: true
  ingressClassName: tailscale
  hostname: keycloak
  tls: true
  extraTls:
    - hosts:
        - keycloak
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
  prometheusRule:
    enabled: true
auth:
  existingSecret: keycloak-secret
  passwordSecretKey: password
postgressql:
  auth:
    enabled: true
    existingSecret: keycloak-secret
    postgresPassword: "test"
extraEnvVars:
  - name: KEYCLOAK_HOSTNAME
    value: "https://keycloak.tail79a5c8.ts.net"
