# https://github.com/open-webui/helm-charts/tree/open-webui-4.0.6/charts/open-webui
extraEnvVars:
  - name: OLLAMA_DEBUG
    value: "1"
  - name: ENV
    value: "dev"
  - name: ENABLE_OAUTH_SIGNUP
    value: "true"
  - name: OAUTH_MERGE_ACCOUNTS_BY_EMAIL
    value: "true"
  - name: OAUTH_CLIENT_ID
    value: "k3s-open-webui"
  - name: OAUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        key: OAUTH_CLIENT_SECRET
        name: keycloak-secret
  - name: OAUTH_PROVIDER_NAME
    value: "Keycloak"
  - name: OPENID_PROVIDER_URL
    value:
      "https://keycloak.tail79a5c8.ts.net/realms/master/.well-known/openid-configuration"
  - name: SSL_CERT_FILE
    value: /etc/ssl/certs/k3s/k3s-ca.crt
ingress:
  class: tailscale
  enabled: true
  host: open-webui
  tls: true
livenessProbe:
  failureThreshold: 5
  httpGet:
    path: /health
    port: http
  periodSeconds: 60
nodeSelector:
  node-role.kubernetes.io/control-plane: "true"
ollama:
  ollama:
    gpu:
      enabled: true
      number: 1
      type: "nvidia"
    models:
      - llama3.2:1b
  persistentVolume:
    enabled: true
    size: 30Gi
  runtimeClassName: nvidia
persistence:
  size: 15Gi
podLabels:
  app.kubernetes.io/name: open-webui
readinessProbe:
  failureThreshold: 1
  httpGet:
    path: /health/db
    port: http
  periodSeconds: 30
service:
  type: LoadBalancer
startupProbe:
  failureThreshold: 20
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 60
  periodSeconds: 10
volumeMounts:
  container:
    - mountPath: /etc/ssl/certs/k3s
      name: ca-cert
volumes:
  - name: ca-cert
    secret:
      secretName: tailscale-crt
